In [1]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:
    #The total number of months included in the dataset.
    #The net total amount of Profit/Losses over the entire period.
    #The average of the changes in Profit/Losses over the entire period.
    #The greatest increase in profits (date and amount) over the entire period.
    #The greatest decrease in losses (date and amount) over the entire period.
    #Your resulting analysis should look similar to the following:
        # Financial Analysis
        # Total Months: 86
        # Total: $38382578
        # Average  Change: $-2315.12
        # Greatest Increase in Profits: Feb-2012 ($1926159)
        # Greatest Decrease in Profits: Sep-2013 ($-2196167)
# Your final script should print the analysis to the terminal and export a text file with the results.

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
file_path = Path('../Resources/budget_data.csv')
file_to_output = Path('budget_analysis.txt')
budget_data = pd.read_csv(file_path, parse_dates=True)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
budget_data = budget_data.rename(columns={
    "Date": "date",
    "Profit/Losses": "profit_losses"
})

budget_data.head()

       date  profit_losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
total_months = budget_data['date'].count()
print(total_months)

86

In [6]:
#budget_data.set_index('date', inplace=True)
#budget_data.profit_losses.astype('int')
#max_value = budget_data.profit_losses.max()
#print(max_value)
#budget_data.index[budget_data.profit_losses==max_value]

In [7]:
total = '${:.0f}'.format(budget_data['profit_losses'].sum())
print(total)

$38382578

In [8]:
import numpy as np

In [9]:
#budget_data['profit_losses'].mean()

In [10]:
budget_data['difference'] = budget_data['profit_losses'] - budget_data['profit_losses'].shift(1)
budget_data['difference'][-1]= budget_data['difference'].shift(-1)
budget_data

/Users/jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        date  profit_losses  difference
0   Jan-2010         867884         NaN
1   Feb-2010         984655    116771.0
2   Mar-2010         322013   -662642.0
3   Apr-2010         -69417   -391430.0
4   May-2010         310503    379920.0
..       ...            ...         ...
81  Oct-2016         102685   -665765.0
82  Nov-2016         795914    693229.0
83  Dec-2016          60988   -734926.0
84  Jan-2017         138230     77242.0
85  Feb-2017         671099    532869.0

[86 rows x 3 columns]

In [11]:
average_change = '${:.2f}'.format(budget_data [1:86]['difference'].mean())
print(average_change)

$-2315.12

In [12]:
max = '${:.0f}'.format(budget_data[1:86]['difference'].max())
print(max)

$1926159

In [13]:
min = '${:.0f}'.format(budget_data[1:86]['difference'].min())
print(min)

$-2196167

In [14]:
#Final Ouput
print("Financial Analysis")
print("Total Months:", total_months)
print("Total:", total)
print("Average Change:", average_change)
print("Greatest Increase in Profits:", (max))
print("Greatest Decrease in Profits:", (min))

Financial Analysis
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: $1926159
Greatest Decrease in Profits: $-2196167

In [24]:
#Ignore code
#output_path = Path("output.txt")
#with open(output_path, "w") as txt_file:
   #txt_file.write(f"Financial Analysis\n")
   #txt_file.write(f"----------------------------\n")
   #txt_file.write(f"Total Months: {(total_months)}\n")
   #txt_file.write(f"Total:{(total)}\n")
   #txt_file.write(f"Average Change: {(average_change)}\n")
   #txt_file.write(f"Greatest Increase in Profits: {(max)}\n")
   #txt_file.write(f"Greatest Decrease in Profits: {(min)}\n")

In [21]:
#other code
#budget_data.set_index('Date', inplace=True)
#budget_data['Profit/Losses']==1926159
#budget_data.index[budget_data['Profit/Losses']=='1926159.0']

In [29]:
output_path = Path("output.txt")

# Open the output_path as a file object in "write" mode ('w')
# Write a header line and write the contents of 'text' to the file
with open(output_path, 'w') as file:
    file.write("This is an output file.\n")
    file.write("test")